/* color refrences 

Green  #79b044
salmon #dd636
Blue grey #3e4249

*/

/* General */
body{
    padding-top: 50px;
    background:url(../img/tile.jpg);
    font-size: 16px;
}

/* GLOBAL */
h1,h2,h3,h4,h5,h6{
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}
h1{
    font-size: 3em;
}
h1,h2{
margin: 0 0 40px
}
h3{
margin: 20px 0;
}
h4{
font-size: 14px
}
.btn{
    font-weight: bold;
}
.hero-text .btn-danger {
    background-color: #dd5636;
    border-collapse: black;
}
img{
    max-width: 100%;
}
/* HERO SECTION */
#hero{
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    color: white;
    padding: 40px 0;
    min-height: 500px;
}
#hero .hero-text{
    margin-top: 30px;
}
#price-timeline{
margin: 30px 0 60px;
}
#price-timeline .price{
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px ;
    position: relative;
    vertical-align: top;

}
#price-timeline .price.active{
 background: #dd5636;
}

#price-timeline .price span{
    background: #101010;
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -35px;
    border-radius: 100%;
    font-weight: bold;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    margin-left: -20%;
    line-height: 70px;
    width: 70px;
}


#price-timeline h4 {
    margin:0 0 30px;
    text-align: center;
}

#price-timeline h4 small{
    color: white;
    display: block;
    font-weight: bold;

}
#hero article{
    text-align: center;
}
/* LAYOUT */
#optin{
    background: #3e4249;
    color: white;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
    font-size: 1.2em;
}


section{
    padding: 45px 0 ;
}
.section-header{
    text-align: center;
}
section h2{
    margin: 30px 0 40px;
}
section h3{
    margin: 20px 0 10px;
}
#optin p{
    margin: 7px 0 0 0;
}

#who-benefits {
background: white;
}
#course-features{
    background: #3e4249;
    color: white;
    text-align: center;
}
/* CUSTOM ICON SPRITE */
i.ci{
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url('/assests/img/icon-sprite.png')no-repeat;
}

.ci.ci-computer    {background-position: 0 0;}
.ci.ci-watch       {background-position: -40px 0;}
.ci.ci-calender    {background-position: -80px 0;}
.ci.ci-community   {background-position: -120px 0;}
.ci.ci-instructor  {background-position: -160px 0;}
.ci.ci-device       {background-position: -200px 0;}