/* color refrences 

Green  #79b044
salmon #dd636
Blue grey #3e4249

*/

/* General */
body{
    padding-top: 50px;
    background:url(../img/tile.jpg);
    font-size: 16px;
}

/* GLOBAL */
h1,h2,h3,h4,h5,h6{
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}
h1{
    font-size: 3em;
}
h1,h2{
margin: 0 0 40px
}
h3{
margin: 20px 0;
}
h4{
font-size: 14px
}
.btn{
    font-weight: bold;
}
.hero-text .btn-danger {
    background-color: #dd5636;
    border-collapse: black;
}
.btn-success{
    background: #79b044;
    border: none;
}
.btn-success:hover{
    background: #6a9b3d;
}
img{
    max-width: 100%;
}
.badge.social{
    background: #ccc;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    margin: 0 5px 24px 0;
    color: white;

}
.badge.social:hover{
    background: #55acee;
}
blockquote{
    border: none;
    font-style: italic;
    text-align: left;
    padding: 0;
}
blockquote cite{
    display: block;
    color: #777;
    margin-top: 15px;
}
blockquote::before{
    display: none;
}
/* HERO SECTION */
#hero{
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    color: white;
    padding: 40px 0;
    min-height: 500px;
}
#hero .hero-text{
    margin-top: 30px;
}
#price-timeline{
margin: 30px 0 60px;
}
#price-timeline .price{
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px ;
    position: relative;
    vertical-align: top;

}
#price-timeline .price.active{
 background: #dd5636;
}

#price-timeline .price span{
    background: #101010;
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -35px;
    border-radius: 100%;
    font-weight: bold;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    margin-left: -20%;
    line-height: 70px;
    width: 70px;
}


#price-timeline h4 {
    margin:0 0 30px;
    text-align: center;
}

#price-timeline h4 small{
    color: white;
    display: block;
    font-weight: bold;

}
#hero article{
    text-align: center;
}
/* LAYOUT */
#optin{
    background: #3e4249;
    color: white;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
    font-size: 1.2em;
}


section{
    padding: 45px 0 ;
}
.section-header{
    text-align: center;
}
section h2{
    margin: 30px 0 40px;
}
section h3{
    margin: 20px 0 10px;
}
#optin p{
    margin: 7px 0 0 0;
}

#who-benefits {
background: white;
}
#course-features{
    background: #3e4249;
    color: white;
    text-align: center;
}
/* CUSTOM ICON SPRITE */
i.ci{
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url('/assests/img/icon-sprite.png')no-repeat;
}

.ci.ci-computer    {background-position: 0 0;}
.ci.ci-watch       {background-position: -40px 0;}
.ci.ci-calender    {background-position: -80px 0;}
.ci.ci-community   {background-position: -120px 0;}
.ci.ci-instructor  {background-position: -160px 0;}
.ci.ci-device       {background-position: -200px 0;}

/* featurate */
#featurate{
    background: url('/assests/img/stuff-bg.jpg') 50% 100% repeat fixed;
    background-size: cover;
    text-align: center;
    color: white;
}
#featurate iframe{
    height: 240px;
}
#instructor{
    background: white url('/assests/img/brad-elvis.png')  90%  -10% no-repeat;
}
#instructor h2{
margin: 0 0 ;
}
#instructor .num{
    display: table;
    color: black;
    font-size:30px ;
    font-weight: bold;
    height: 140px;
    line-height: 24px;
    width: 140px;
    border-radius: 100%;
    background: #dd5636;


}
#instructor .num .num-content{
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    color: white;
}
#instructor .num span{
    font-size: 20px;
    display: block;
    font-weight: normal;
}
#kudos{
    text-align: center;
}
.testimonial{
    margin-bottom: 60px;
}

.testimonial img{
    border-radius: 50%;
}
#signup{
    text-align: center;
    background: url(/assests/img/hipster-stuff.jpg) center center repeat fixed;
    color: white;
    background-size: cover;
    padding: 140px 0;
}
footer{
    background:#3e4249;
    padding: 20px 0 10px;
    color: white;
    font-size: 12px;
}
footer a:link, footer a:visited{
color: white;
}
footer a:hover{
    color: #dd5636;
}
footer a:hover{
    text-decoration: none;
}

